@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --clr-pale-blue: hsl(225 100% 94%);
    --clr-bright-blue: hsl(245 75% 52%);

    --clr-very-pale-blue: hsl(225 100% 98%);
    --clr-desaturated-blue: hsl(224 23% 55%);
    --clr-dark-blue: hsl(223 47% 23%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    min-height: 100dvh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    background-color: #fff;
    margin: 1.5rem;
    border-radius: 1em;
    max-width: 400px;
}

.summary img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.summary__title {
    margin-top: 2.5rem;
    text-align: center;
    color: #0f1a38;
    font-weight: 900;
}

.summary__text {
    margin-top: .7rem;
    text-align: center;
    padding: 0 2em;
    color: var(--clr-desaturated-blue);
}

.summary__plan {
    display: flex;
    background-color: var(--clr-very-pale-blue);
    margin: 1.5rem 2rem 0 2rem;
    padding: .75rem;
    border-radius: .5rem;
    align-items: center;
}

.summary__plan img {
    margin: .2rem;
    margin-right: 0;
}

.summary__plan-spec {
    margin: 0 1rem;
    margin-top: .2rem;
    margin-right: 0;
}

.summary__plan-type {
    font-weight: 700;
    color: #0f1a38;
}

.summary__plan-price {
    color: var(--clr-desaturated-blue);
}

.summary__change {
    color: var(--clr-bright-blue);
    margin: auto;
    margin-left: 5rem;
}

.lower-buttons {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}

.summary__proceed {
    background-color: var(--clr-bright-blue);
    margin-bottom: 0;
    border-radius: .5rem;
    color: #fff;
}

.summary__cancel {
    margin: 0.5rem 0;
    padding-bottom: 1.5rem;
    color: var(--clr-desaturated-blue);
}